.chords-lyrics-line {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.chords {
    margin-right: 0.5rem;
    font-weight: bold;
    color: #d14;
    height: 1.5rem;
}

.lyrics {
    height: 1.5rem;
}

.collection-item a {
    width: 100%;
}

.plus-icon {
    font-size: 2rem;
}

.chord-lyric-block {
    height: 3rem;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.mb-0 {
    margin-bottom: 0;
}

.songbox {
    min-height: 200px;
}

.h1-field {
    margin: 2.8rem 0 1.68rem 0 !important;
}

.h1-field > input {
    font-size: 4.2rem !important;
    line-height: 110% !important;
    margin: 1.1rem 0 1rem !important;
    padding: 1rem 0 !important;
}

.h1-field > label {
    font-size: 2.5rem !important;
}

.tone-change {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tone-change a {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
