.chords-lyrics-line {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.chords {
    margin-right: 0.5rem;
    font-weight: bold;
    color: #d14;
    height: 1.5rem;
}

.lyrics {
    height: 1.5rem;
}

.collection-item a {
    width: 100%;
}

.plus-icon {
    font-size: 2rem;
}

.chord-lyric-block {
    height: 3rem;
}
